/*******************************************************************************
 *                                                                             *
 * Julianty                                                                    *
 *                                                                             *
 ******************************************************************************/

.root{ /* Aplica al control principal */
    -fx-opacity: 0.9;
}
.root:hover { /* Cuando se pasa el raton sobre el control */
    -fx-opacity: 1;
}

.tab {
    -fx-background-color: #222222;
    -fx-effect: innershadow(gaussian, #d58512, 10, 0, 0, 3);
    /* background: linear-gradient(to left,#dc4c11 10.71%,#feab2e)
    linear-gradient(to right bottom,#b84fdd -26.76%,#4965f4 44.6%,#2efb74 132.54%) cool!!*/
}
.tab-pane>*.tab-header-area>*.tab-header-background{
    -fx-background-color: #222222;
}
.tab-label {
    -fx-text-fill: white;
}
.tab:selected .tab-label {
    -fx-text-fill: #d58512;
    -fx-effect: innershadow(gaussian, #d58512, 10, 0, 0, 3);
}

.button {
    -fx-background-color: #222222;
    -fx-text-fill: white;
    -fx-effect: innershadow(gaussian, #d58512, 15, 0, 0, 0);
}
.button:pressed {
    -fx-effect: innershadow(gaussian, #d58512, 35, 0, 0, 0);
}

.text-area:hover{
    -fx-effect: dropshadow(gaussian, rgb(10, 101, 107), 40, 0, 0, 3);
}

.check-box{
    -fx-text-fill: white;
}

#imageClose { /* Evita bug, cuando el puntero sale de la imagen */
    -fx-image: url("file:///C:/Users/DORADITO/IdeaProjects/GMazeRunner/src/main/img/closeButtonDark.png");
}
#imageClose:hover { /* Cuando el puntero se pasa sobra la imagen (boton cerrar app) */
    -fx-image: url("file:///C:/Users/DORADITO/IdeaProjects/GMazeRunner/src/main/img/closeButtonHover.png");
    -fx-cursor: hand; /* Muestra una mano */
}
#imageClose:pressed { /* Cuando se presiona la imagen algun efecto deberia pasar */
    -fx-image: url("file:///C:/Users/DORADITO/IdeaProjects/GMazeRunner/src/main/img/closeButtonPressed.png");
    -fx-background-color: rgba(232, 17, 35, 0.8);
}

#imageMinimize {
    -fx-image: url("file:///C:/Users/DORADITO/IdeaProjects/GMazeRunner/src/main/img/minimizeButtonDark.png");
}
#imageMinimize:hover {
    -fx-image: url("file:///C:/Users/DORADITO/IdeaProjects/GMazeRunner/src/main/img/minimizeButtonDarkHover.png");
    -fx-cursor: hand;
}
#imageMinimize:pressed {
    -fx-image: url("file:///C:/Users/DORADITO/IdeaProjects/GMazeRunner/src/main/img/minimizeButtonDarkPressed.png");
}   /* ../../src/main/img/minimizeButtonDark.png (los dos puntos significa una carpeta anterior) */
